.settings__cell-fields {
    min-height: 64px;
    display: flex;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  .settings__input-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    padding: 0;
  }

  .settings__cell-input {
    border: none;
    outline: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    border-bottom: 1px solid #D8D8D8;
    margin: 0;
    padding: 0;
  }
  
  .settings__cell-input:focus-within {
    border-bottom: 2px solid #3456F3;
  }

  .settings__input-subtitle {
    font-family: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    padding: 0;
  }

  .input_type-time {
    width: 100%;
  }
  
  .input_type-time::-webkit-calendar-picker-indicator {
    background-image: url(../../images/clock.svg);
    cursor: pointer;
  }

  .settings__button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 32px;
    height: 48px;
    border: none;
    border-radius: 50px;
    background-color: #3456F3;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .settings__button:hover {
    background-color: #214ccf;
  }
  
  .settings__button_disabled {
    background-color: #F5F5F5;
    color: #000000;
    cursor: default;
  }
  
  .settings__button_disabled:hover {
    background-color: #F5F5F5;
  }

  @media screen and (max-width: 1000px) {
    .settings__cell-fields {
      max-width: 174px;
    }
  
    .settings__cell-input {
      font-size: 14px;
      line-height: 24px;
      max-width: 174px;
    }
  
    .settings__input-title {
      font-size: 12px;
      line-height: 14px;
    }
  
    .settings__cell-text {
      font-size: 16px;
      line-height: 24px;
    }
  
    .settings__input-subtitle {
      font-size: 12px;
      line-height: 14px;
    }
  
    .settings__button {
      font-size: 12px;
      line-height: 14px;
    }
  }